.App {
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  background-color: rgb(141, 197, 247);
}

.content-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: brown;
  justify-content: center;
  padding: 3% 2%;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  margin: 1%;
}

.top-section {
  width: 100%;
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  background-color: rgb(61, 163, 95);
}

.weather {
  width: 100%;
  height: 8%;
  display: flex;
  padding: 0 2% 0 0;
  align-items: center;
  justify-content: flex-end;
  background-color: aquamarine;
}

.task-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(243, 187, 118);
  height: 50%;
}

.create-task-wrapper {
  height: 10vh;
  width: 100%;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-list-wrapper {
  height: 100%;
  width: 100%;
  background-color: rgb(41, 136, 136);
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-wrapper {
  width: 100%;
  background-color: azure;
}

.bottom-section {
  height: 20%;
  width: 100%;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-wrapper {
  width: 100%;
  background-color: beige;
}
