.task-wrapper {
  display: flex;
  position: relative;
}

.task {
  background-color: rgba(53, 53, 54, 0.5);
  border-radius: 5px;
  display: flex;
  padding: 0px 5px;
  min-height: 25px;
  min-width: 150px;
  color: rgb(255, 242, 242);
}

p {
  width: 100%;
}

.fab-btn-wrapper {
  display: flex;
  position: absolute;
  top: 150%;
  left: 40%;
}

.task-header {
  width: 100%;
}

.task-text {
  margin: 15px 10px 15px 10px;
  width: 100%;
  align-self: center;
}

.reduce-opacity {
  opacity: 0.5;
}
